.bg-detail{
    background: linear-gradient(#000, rgb(46, 45, 45));
    width: 30%;
    height: 450px;
    margin: 25px;
    border-radius: 25px;
    color: #fff;
    outline: 2px solid rgb(247, 164, 20);

    h1{
        text-align: center;
        text-shadow: 0 0 5px #fff;
    }

    p{
        margin: 10px;
        padding: 5px;
    }

    .back{
        margin: 13px;
    }

    .flex-container{
        display: flex;
        justify-content: center;
    }
}