.category-title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #667eea;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}