.header {
    text-align: center;
    background-color: #39197189;
    color: rgb(36, 34, 34);
    text-transform: uppercase;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    h1{
      font-size: 50px;
      font-family: 'Prompt', sans-serif;
      color: #d9a114;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,700&family=Prompt&display=swap');

  
.menu{
        color: #17023c;
        font-size: 17px;
        transition: .2s all;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        position: relative;
        bottom: 25px;
  }
  
  
.logo{
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    right: 43%;
    top: 20px;
    user-select: none;
  }

.search{
    max-width: 300px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    right:0;
    top: 50px;
    margin: 0 200px;
  }

.btn-search{
    position: relative;
    left: 700px;
    bottom:31px;
  }

.categorias{
  span{
    text-transform: uppercase;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.55);
    transition: .2s all;
    cursor: pointer;
    &:hover{
      color: rgba(255, 255, 255, 0.831);
    }
  }
  &:hover{
    background-color: #212529;
    border: 1px solid #212529 ;
  }
}

.link-a{
  text-decoration: none;
  color: #000;
  &:hover{
    color:#f3b20e;
  }
}

.nav-link{
  font-family: 'Prompt', sans-serif;
}

span{
  font-family: 'Prompt', sans-serif;
}

.menu-a{
  &:active{
    background-color: #fff;
  }
}
  
// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#fff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #717171;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313030;
}

