body{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position:relative;
}

.footer {
    background: #17023c;
    color: #efb810;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: auto;
    width: 100vw;
    height: 79px;
    padding: 5px;
    display: flex;
    align-items: center;
        p{
            font-family: monospace;
        }
  }


ion-icon{
    color: #fff;
    vertical-align: middle;
    font-size: 20px;
    position: relative;
    left: 10px;
    transition: .2s all;
    user-select: none;
        &:hover{
            color: #efb810;
        }
}

::selection{
    color: #fff;
    background-color: #000;
  }
  