.header {
  text-align: center;
  font-size: 20px;
  background-color: #17023c2a;
  color: rgb(36, 34, 34);
  text-transform: uppercase;
  height: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

.menu{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  background-color: #17023c;
  color: #fff;
  font-size: 20px;
  width: 200px;
  padding: 7px;
  position: relative;
  bottom: 65px;
  transition: .2s all;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu a:hover{
  color: #efb810;
  background-color: #000;
}

.logo{
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  right: 43%;
  bottom: 10px;
}

.search{
  max-width: 300px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  right:0;
  top: 50px;
  margin: 0 200px;
}

.btn-search{
  position: relative;
  left: 700px;
  bottom:31px;
}

ion-icon{
  color: rgb(223, 45, 45);
  vertical-align: middle;
  font-size: 20px;
  position: relative;
  left: 10px;
  transition: .2s all;
  user-select: none;
}

ion-icon:hover{
  color: #efb810;
}

.footer {
  background: #17023c;
  color: #efb810;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.footer p {
  font-family: monospace;
}

::selection{
  color: #fff;
  background-color: rgb(97, 64, 22);
}