.number{
    font-size: 30px;
    vertical-align: middle;
}

.boton{
    width: 50px;
    position: relative;
    left: 7.3%;
    bottom: 220px;
    border-radius: 30px;
}

.btn-carrito{
    position: relative;
    bottom: 50px;
}

.modal{
    height: 200px;
    width: 200px;
    background: #000;
    opacity: .5;
}