.boton{
    width: 50px;
    position: relative;
    border-radius: 30px;
    bottom: 185px;
    left: 30%;
    .number{
        font-size: 20px;
        vertical-align: middle;
    }
}

.btn-carrito{
    position: absolute;
    bottom: -50px;
    right: 22%;
}

